<section class="text-center form-auth">


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="form-group">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",  placeholder: "Last Name", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email Address", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :company, autofocus: true, autocomplete: "company", placeholder:" Company name", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
  <i>*password leave blank if you don't want to change it</i>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password #{ @minimum_password_length} characters minimum" , class: "form-control"%>

  </div>

  <div class="form-group">

    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Password confirmation", class: "form-control" %>
  </div>

  <div class="form-group">
  <i>*we need your current password to confirm your changes</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>
    <%= f.hidden_field :image_cache %>
      <%if @account.image.present?%>
      <%=image_tag @account.image.thumb.url%>
      <%end%>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-lg btn-success" %>
  </div>
<% end %>

<h3> Account Deletion</h3>
<p class="text-muted"> Parmanently delete your account!</p>

<p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%></p>

<%= link_to "Back", :back %>
</section>
