<div class="property-main-photo" style="background-image:url('<%= property_photo_url @property %>')">
  <div class="photo-overlay">

  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col-md-8">
        <div class="row">
            <div class="col-lg-6">
                <strong class="mb-2"><%= @property.for_sell? ? "For Sale" : "For Rent" %>  </strong>
                <p class="mb-0 text-secondary"><%= @property.address %>  </p>
                <%if @property.for_sell%>
                <p class="h2">   <%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : " Offer for accepted"%></p>
                <%else%>
                <p class="h2">   <%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "Offer for enquireis"%>/month</p>
                <%end%>

            </div>
                <div class="col-lg-6 text-center  ">
                  <div class="row bg-light p-1">
                      <div class="col-sm-4">
                        <p class="mb-0"> <i class="fas fa-bed"></i> </p>
                        <span class="lead"> <small>  <%= @property.rooms %> Rooms</small></span>
                      </div>
                      <div class="col-sm-4">
                        <p class="mb-0">   <i class="fas fa-sink"></i></p>
                        <span class="lead"> <small><%= @property.bathrooms %> Bathrooms</small> </span>
                      </div>
                      <div class="col-sm-4">
                        <p class="mb-0">    <span><i class="fas fa-car"></i></span></p>
                        <span class="lead"> <small><%= @property.parking_spaces %>  Parking </small> </span>
                      </div>
                  </div>
              </div>
        </div>

        <div class="row border-bottom border-top mt-5 mb-5 pt-3 pb-3">
          <div class="col-sm-6">
              <%if @property.for_sell?%>
        <strong> <%= link_to "Est. Monthly Repayments of #{number_to_currency((@property.price - (@property.price * 0.1))/ 360 , precision: 0)}", "#",class:"text-success"%> </strong>
              <%else%>
            <strong class="text-success">Available from  <%=@property.available_date.day.ordinalize%> <%= @property.available_date.strftime('%b %Y')%></strong>
              <%end%>
          </div>

          <div class="col-sm-6 text-right">
            <%= link_to "Can I afford this property?", "#", class: "text-success " %>
          </div>
      </div>
        <div class="row ">
          <div class="col-sm">
            <p class="h3"> <%= @property.name  %> </p>

            <div id="prop-details">
              <p class="h5"> Property Details:</p>
                 <%= simple_format @property.description %>
            </div>
            <button class="btn btn-sm btn-outline-info mb-t" id="toggleDetails">Read more</button>
            <p class="mt-5"> *This rate is based on a 30 year of mortgage, after paying an initial 10% down payment. Shorter term mortgage wpold require a higher month repayments.</p>
          </div>
        </div>


          <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-sm btn-success" %>
          <%= link_to 'Back', root_path, class: "btn btn-sm btn-secondary"  %>
        </div>

        <div class="col-4">
          <%= render 'properties/agent_details'%>
        </div>
      </div>
    </div>
    <div class="mb-5 mt-5">
        <div class="container">
          <div class="row">
            <%= render "properties/list", properties: @agent_properties%>
            <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRY-bfoO8W4Uj8szlif0HiMoI5CSLiopw
                  &q=Space+Needle,Seattle+WA" allowfullscreen>
              </iframe>
          </div>
        </div>
    </div>
